[Unit]
Description=Lightweight UDP forwarding service that can be used for forwarding Project Zomboid game servers
After=network.target

[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/python -m zomboid_forward.server

[Install]
WantedBy=multi-user.target
