[Unit]
Description=Zomboid Forward Service
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
ExecStart=python -m zomboid_forward.server

[Install]
WantedBy=multi-user.target
